.reactMarkDown a {
    word-break: break-all;
}

.reactMarkDown a * {
    word-break: break-all;
}

.reactMarkDown blockquote * {
    background-color: #f7f7f7;
    font-style: italic;
}

.reactMarkDown th {
    background-color: #f7f7f7;
    border: solid 1px;
}

.reactMarkDown td {
    border: solid 1px;
}
 
.reactMarkDown table {
    border-collapse: collapse;
}

.reactMarkDown code {
    font-family: M PLUS 1p;
}

.reactMarkDown code * {
    font-family: M PLUS 1p;
}

.reactMarkDown pre {
    font-family: M PLUS 1p;
}

.reactMarkDown pre * {
    font-family: M PLUS 1p;
}

