html, body { 
    font-family: 'Klee One','M PLUS 1p', 'Noto Sans JP', sans-serif;
    text-align: start;
}

p {
    font-size: xx-small;
}

/* for PC */
@media screen and (min-width: 769px) {
}

/* for Tablet */
@media only screen and (min-width: 641px) and (max-width: 960px) {
}

/* for Mobile */
@media screen and (max-width: 640px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: "80%",
    }
    img {
        width: 100%;
    }
}